@import url(produtos.css);

main {
    width: 940px;
    margin: 0 auto;
  }

form {
  margin: 40px 0;
}

form label, form p {
  display:block;
  font-size: 20px;
  margin: 0 0 10px;
}

input padrão {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

:checkebox{
  margin: 20px o;
}

.enviar{
  width: 40%;
  padding: 15px 0;
  background: orange;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: is all;
  cursor: pointer;
}

.enviar:hover{
  background: darkgoldenrod;
  transform: scale (1.2);
}